html{
  font-size: 0.9rem;
  box-sizing: border-box;
}

body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  position: relative;
  z-index: 1;
}

.header{
  grid-area: header;
  background-color: #203040;
  padding: 0%;
}

.brand a{
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  margin: 0%;
  display: fixed;
  padding-right: 0%;
}

.navbar {
  width: 100%;
  height: 100%;
  flex-flow: row;
  display: flex;
  justify-content: stretch;
  position: relative;
  z-index: 1000;
}

li{
  list-style: none;
}

.navbar-links a{
  color:#fff;
  text-decoration: none;
  padding: 1rem;
}

.navbar-boards{
  display: flex;
  padding: 0%;
  width: fit-content;
}

.navbar-boards a{
  color: #fff;
  text-decoration: none;
}

.navbar-links{
  display: flex;
  padding-left: 10%;
  position: absolute;
  right: 5px;
}

.navbar-links:hover{
  color:#ff8000;
}

.main{
  grid-area: main;
  background-color: transparent;
  background-image: url(./images/main-background.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer{
  grid-area: footer;
  background-color: #203040;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}

a:hover{
  color:#ff8000
}

/* Dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: -5%;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 20%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 999;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content-search {
  display: none;
  position: absolute;
  margin-left: 20%;
  margin-top: 20px;
  background-color: #f9f9f9;
  min-width: 480px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 999;
  top: 40px;
}

.dropdown:hover .dropdown-content-search{
  display: block;
}

/* Image slider */
.slider{
  min-height: 300px;
  max-height: 700px;
  width: 100%;
}

.slider-container {
  width: 100%;
  height: 100%;
  position: relative;
  top:0px;
  left:0px;
}
.slider-item-div {
  padding: 20px;
  background-color: white;
  text-align: center;
  height: 100%;
  width: 100%;
}
.carousel-style {
  height: 100% !important;
}