@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

body {
  background: #1C8EF9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .form-wrapper {
  width: 100%;
  height: 100%;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.form-inner {
  min-width: 750px;
  max-width: 72%;
  margin: 3% auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 45px 10px;
  border-radius: 15px;
  transition: all .3s;
  position: relative;
}

.form-wrapper .form-field:focus {
  border-color: #167bff;
  box-shadow: none;
}

.form-field {
  padding-top: 2%;
  padding-bottom: 2%;
}

.form-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
  font-size: 38px;
}

.custom-control-label {
  font-weight: 400;
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
  padding: 0% 9%;
}

ul {
  display: flex;
  list-style: none;
  margin: 0%;
  padding: 0%;
  width: 100%;
}

p {
  margin: 6%;
  margin-left: 0;
}

.role-picker {
  margin-top: 7.5%;
}

.roles {
  display: flex;
}

.profile-photo {
  margin-top: 1.5%;
  width: 100%;
}

.profile-photo input{
  width: 350px;
}

.already-have-account {
  margin-bottom: 0%;
  width: 100%;
}