.home-main-container{
  background-image: url('../../images/homepage.jpg');
  background-repeat: no-repeat;
  background-size: 100% 110%;
  position: relative;
}

.home-main-container h1 {
  padding-top: 2%;
  text-align: center;
  color: rgb(218, 68, 110);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-weight: 900;
}

.home-main-container .map-container {
  position: absolute;
  right: 5%;
  top: 20%;
}
